<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.IrisBICS.lonelysg">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/lonely_sg"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/lonely_sg_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB_qsP8AOP_P0MdlPz-48TDaJYjTP3vbjo" />

        <activity android:name=".Activities.ActivityChangePassword"></activity>
        <activity android:name=".Activities.ActivityPendingRequests" />
        <activity android:name=".Activities.ActivityEditInvitation" />
        <activity android:name=".Activities.ActivityIndividualUserInvitation" />
        <activity android:name=".Activities.ActivityReceivedRequests" />
        <activity android:name=".Activities.ActivityManageRequests" />
        <activity android:name=".Activities.ActivityUserInvitations" />
        <activity android:name=".Activities.ActivityCreateInvitation" />
        <activity android:name=".Activities.ActivityChat" />
        <activity android:name=".Activities.ActivityIndividualInvitation" />
        <activity android:name=".Activities.ActivityIndividualChat" />
        <activity android:name=".Activities.ActivityEditProfile" />
        <activity android:name=".Activities.ActivityNavigationBar" />
        <activity android:name=".Activities.ActivityInvitations" />
        <activity android:name=".Activities.ActivitySignUp" />
        <activity android:name=".Activities.ActivityLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>